.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    background-color: var(--slack-color);
    color: white;
}

.header__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
    margin-left: auto!important;
    margin-right: 30px!important;
}

.header__search{
    flex: 0.4!important;
    background-color: #421f44!important;
    text-align: center!important;
    display: flex!important;
    padding: 0 50px!important;
    color: gray!important;
    border: 1px gray solid!important;
    border-radius: 6px!important;
}
.header__search > input {
    background-color: transparent!important;
    border: none!important;
    text-align: center!important;
    min-width: 35vw!important;
}
.header__right {
    flex: 0.3!important; 
    display: flex!important;
    align-items: flex-end!important;
}   
.header__right > .MuiSvgIcon-root {
    margin-left: auto!important;
    margin-right: 20px!important;
}


